<?xml version="1.0" encoding="UTF-8"?>
<!-- INYECCION DE DEPENDENCIAS VIA PROPERTIES-->
<!-- La etiqueta bean, dentro de beans, nos va a permitir meter los bean que
vamos a utilizar nuestros programas-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="saludamos" class="es.studium.PrimerBean.Saludo">
		<property name="saludo" value="¡Mi primer bean!"></property>

		<!-- Aqui inyectaremos las dependencias-->
		<!-- Y podemos hacerlo de dos formas, a través de las propiedades o a
		través de los constructores -->
	</bean>

</beans>
